body {
  font-family: Verdana;
}
#wrapper { 
  background-color: #000000;
  color: white;
  width: 450px;
  height: 600px;
  margin: auto;
} 
header{
  height: 70px;
  background-color: #d1b38d;
  color: black;
  font-weight: bold;
  font-family: century, serif;
  text-align: center;
  padding: 1px;
}
header img{
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-top: 20px;
  float: left;
}
.content {
  overflow: auto;
  width: 450px;
  height: 450px;
}
.works{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  /*position: relative;*/
}
footer {
  height: 80px;
}
footer nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav a{
  text-decoration: none;
}
footer nav button{
  width: 55px;
  height: 75px;
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: white;
}
.btntext{
  white-space: nowrap;
  text-align: center;
  color:black;
}
footer nav button img{
  padding-top: 8px;
}

table{
  color: #ffffff;
  margin: auto;
  border: 2px solid;
  width: 430px;
}
.example {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}
.example img {
  max-width: 130px;
  padding: 5px;
}
.GS-artist {
  font-size: 35px;
  font-weight: bold;
}

#loading {
  width: 450px;
  height: 600px;
  margin: auto;
  transition: all 2.5s;
  background-color: #ffffff;
  color: #000000;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}

.chat-container {
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chat-box {
  border-radius: 10px;
  height: 300px;
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
  border-bottom: 1px solid #ccc;
}
.input-box {
  height: 30px;
  display: flex;
  border: 1px solid black;
}
input[type="text"] {
  flex: 1;
  padding: 10px;
  border: black;
  border-radius: 0;
  outline: 1px;
}
.input-box button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: black;
  cursor: pointer;
}
.input-box button:hover {
  background-color: #45a049;
}
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  max-width: 80%;
}
.user-message {
  background-color: #e1ffc7;
  color: black;
  align-self: flex-end;
  margin-left: auto;
}
.bot-message {
  color: black;
  background-color: #f0f0f0;
  align-self: flex-start;
  margin-right: auto;
}
.input-template button {
  height: 100%;
  width: 100%;
  margin: 1% 0;
}
.chats{
  width: 450px;
  height: 100px;
  margin:0px;
  display: flex;
  flex-direction: column;
}
.partner{
  background-color: #9B9B9B;
  display: flex;
  border: solid 1px black;
  position: relative;
}
.partner:nth-child(2n){
  background-color: #ccc;
}
.partner img{
  height: 90px;
  width: 90px;
  padding: 5px;
  float: left;
}
.partner h3{
  padding-left: 30px;
}
.partner a{
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

